* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url(Background.jpg);
  background-size: 100%;
}

.container {
  display: flex;
  width: 80%;
  height: 90%;
  background-color: rgb(255, 255, 255, 0.02);
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 15px 1px #525252;
  border-radius: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.img-container {
  position: relative;
  width: 35%;
  height: 100%;
}

.logo {
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: black;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.text {
  height: 33%;
  width: 100%;
  background-color: white;
  background-color: rgb(0, 0, 0, 0);
}

.form-container {
  width: 100%;
  height: 67%;
}

.col-1,
col-2,
col-3 {
  height: 100%;
  display: flex;
  flex-direction: row;
}
